* {
    font-family: 'Poppins';
}

body {
    background-color: #203541;
}

#corpo {
    margin-top: 9%;
}

.cabecalho{
    display:inline;
    max-width: 1440px;
    margin: 0 auto;
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.cabecalho nav li a {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #ffd933;
}

.logo {
    width: 16vw;
    height: 5vw;
    padding-right: 35px;
    border-right: 5px solid #ffd933;
}

a {
    height: 100%;
    color:#ff0606;
}

a:visited{
    color: #ff0606;
}

nav {
    border: 5px #ffd933;
    border-style: inset;
    width: 99%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #203541;
}

nav ul {
    display: flex;
    font-size: 150%;
    margin-top: 10px;
}

li {
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

#trailer {
    padding-top: 1%;
    display: flex;
}

iframe {
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    padding: 0px 50px 0px 50px;
    text-align: center;
    color: #ff0606;
    font-size: 40px;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#descricao {
    text-align: center;
    margin-left: 50px ;
}

.detalhes {
    font-size: 23px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
    text-align: center;
}

#netflix {
    margin-top: 2%;
    width: 200px;
}

#filme {
    width: 250px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#integ_h2 {
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#container {
    display: flex;
    justify-content: space-around;
}

.integrantes {
    height: 400px;
    width: 300px;
    box-shadow: rgb(226, 223, 10) 0px 0px 0px 3px;
    text-align: center;
    font-size: 20px;
}

.artistas {
    margin-top: 3%;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.historia{
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

#rock {
    width: 300px;
    height: 350px;
}

.historia_2 {
    margin-left: 50px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;

}

.historia_3 {
    margin: 0px 50px 0px 50px;
    font-size: 23px;
    color: white;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.historia_4 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.parag_esquerdo {
    display: flex;
}

.disco_texto {
    text-align: center;
}

.tim_r {
    height: 300px;
    width: 300px;
    justify-content: center;
    border: 5px solid #ffd933;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tim_s {
    height: 400px;
    width: 300px;
    justify-content: center;
    border: 5px solid #ffd933;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tim_t {
    width: 500px;
    justify-content: center;
    border: 5px solid #ffd933;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#racional {
    text-align: start;
    
}

#discografia {
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.discos {
    border: #ffd933;
    display: flex;
    justify-content: space-around;
    box-shadow: #000;
}

.album {
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.album:hover, .album_figure {
    width: 275px;
    height: 275px;
}

.album_text {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 18px;
    text-align: center;
    width: 355px;
    height: 572px;
}

#info_disco {
    width: 100%;
    height: 70px;
}

.p_info{
    color: white;
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 0px 2px 0px black, 0px -2px 0px black;
}

footer {
    text-align: center;
    background: #ff0606;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 20px;
}

#infooter {
    margin-right: 24%;
}

#pda {
    color: #000;
}

#github {
    width: 50px;
    height: 50px;
    margin-left: 20px;    
}